@media only screen and (max-width: 768px) {

 

    .nav-area ul li a{
        padding:0px 10px ;
        font-size: 12px;
         
    }
    
    .nav-area{
        
        flex-basis: 65%;
        padding-right: 0%;
        background-color: rgba(245, 141, 6, 0);
        text-align: center;
      

}

.head-left{
    flex-basis: 
    15%;
    background-color: rgba(182, 121, 41, 0);
}
.head-left img{
    height: 100%;
    width: 100%;
}
.nav-area ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  .btn-primary{
    padding: 8px 16px;
   
}

.button{
    flex-basis: 25%;
    
   font-size: 10px;
   background-color: rgba(250, 235, 215, 0);
   text-align:right;
}

.title p{
    font-family: 'Poppins', sans-serif;
    font-size:14px ;
    
    color:#6a7083;
    width:70%;
    font-weight: bolder;
    padding-bottom: 30px;
    z-index: 2;
}

.video h4{
   
    font-size:12px ;
    
    
}

.video{
   
    width: 30%;
    background-color: #6a708300;

}

.icon-head{
    width: 65%;
   

}

.sm-head p{
        
    
     font-size: 14px;
 }

 .star-icon{
    background-color: orange;
    padding: 2px 8px;
    
}

.video{
        
    width: 60%;
    padding-bottom: 60px;

}


.all-logo{
   
    width: 90%;
   
    

}

.all-logo div{
    padding-left: 10%;
}

.trusted h4{
    font-size: 12px;

}

.li{
    padding-right: 10%; 
    background-color: rgba(0, 255, 255, 0);
}


.titlee h1{
       
    font-size:30px;
    width: 70%;
   
}

.titlee p{
    font-size: 12px;
}

.part2{
    
    padding: 80px 5% ;
   
  
  }

.text h3{
    font-size: 16px;
}

.text2 h3{
    font-size: 16px;
}

.text3 h3{
    font-size: 16px;
}

.text p{
    font-size: 12px;
}

.text2 p{
    font-size: 12px;
}


.text3 p{
    font-size: 12px;
}

.iconn{
    padding: 15px ;
  
}
.iconn img{
    height: 100%;
    width: 100%;
}



.iconn2{
    padding: 15px ;
  
}
.iconn2 img{
    height: 100%;
    width: 100%;
}


.iconn3{
    padding: 15px ;
  
}
.iconn3 img{
    height: 100%;
    width: 100%;
}

.vacteria{

    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 80px 5%;
   padding-right: 0px;
}

.div1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2% 0px;
}


.phonee{
    position: absolute;
    top:-50px;
    left: 40px;
}

.cmndiv{
    text-align: center;
}

.cmndiv p{
    font-size: 12px;
}

.cmndiv h3{
    font-size: 16px;
    
}

.cmndiv2 h3{
    font-size: 16px;
    
}

.cmndiv3 h3{
    font-size: 16px;
    
}

.cmndiv2{
    text-align: center;
}

.cmndiv2 p{
    font-size: 12px;
}
.cmndiv2{
    padding-right: 7%;
}
.cmndiv3{
    padding-right: 0%;
}
.cmndiv{
    padding-right: 7%;
}

.cmndiv3{
    text-align: center;
}

.cmndiv3 p{
    font-size: 12px;
}

.rigght p{
   font-size: 12px;
}

.vacteria{

    display: flex;
    justify-content:space-between;
    align-items: center;
 

  
  
}


.beda{

    padding: 80px 4%;
}
.rright{
    padding-left: 0%;
    padding-right: 0%;
    background-color: rgba(250, 235, 215, 0);
    
}

.rright h1{
   font-size: 30px;
}


.icon6 h1{
    
    width: 50%; 
    margin: auto;
    font-size: 30px;
}

.rright p{
   font-weight: 500;
    padding: 6% 0%;
    font-size: 12px;

}

.para{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    width: 70%;
    margin: auto;
    padding: 4% 0px;
    padding-bottom: 9%;
    font-size: 12px;

}

.icon6{

    padding: 80px 4%;
 



}

.icoon1 h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 15% 0px
}

.icoon1 p{
    font-size: 12px;
 
}

.icoon2 h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 15% 0px
}

.icoon2 p{
    font-size: 12px;
 
}


.icoon3 h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 15% 0px
}

.icoon3 p{
    font-size: 12px;
 
}

.ultimate{
    padding: 60px 6%;
    
}

.iccon1 h3{
   
    font-size: 16px;
   

}

.iccon1 p{
  font-size: 12px;
}

.iccon2 h3{
   
    font-size: 16px;
   

}

.iccon2  p{
  font-size: 12px;
}

.heading{
    text-align: center;
    padding: 80px 0px;
}

.heading h1{
   
    width: 60%;
    font-size: 30px;
 
}

.heading p{
    font-size: 12px;
    width: 60%;
    margin: auto;
    padding: 5% 0px;
   
}

.btns{
    padding: 10px 25px;
  
}

.btns2{
    padding: 10px 25px;
  
}

.left-pricig h1{
   
    font-size: 30px;

}

.right-pricig h1{
    
    font-size: 30px;
   
    

}

.month{
    font-weight:lighter;
    font-size: 12px;
}



.left-pricig h4{
    font-size: 16px;
}

.left-pricig h6{
    
    font-size: 12px;
}

.right-pricig h4{
    
    font-size: 16px;
}

.right-pricig h6{
    font-size: 12px;
    font-weight: 500;
   
}

.btns{
  padding-left: 20px;
  padding-right: 20px;
}

.special-h6{

   
    padding-top: 40px;
   
}

.single-site h1{
font-size: 30px;
width: 95%;
 
  
}
.meet-client{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
.single-site p{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 3%;
    width: 72%;
}


.fa-star{
    color: rgb(255, 174, 0);
    padding-bottom: 3%;
    font-size: 13px;
}
.titles h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.titles p{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.question h1{
    font-size: 30px;
}

.qu-p{

    font-family: 'Poppins', sans-serif;
    width: 70%;
    font-size: 12px;
}

.question{
    width: 80%;
    margin: auto;
    background-color: #242f5100;
    padding-top: 150px;
    padding-bottom: 80px;
    }

    .single-div p{

        font-family: 'Poppins', sans-serif;
        padding: 0px 40px;
        padding-bottom: 40px;
        
        font-size: 12px;
    }

    .left-box{
        flex-basis: 60%;
        padding-left: 5%;
    }

    .left-box h1{
        font-size: 30px;
    }

    .left-box p{
        font-size: 12px;
        padding: 10px 0px;
    }

    
.pic-2{
    display: flex;
    width: 50%;
}

.div-1{
    padding-right: 20px;
    flex-basis: 50%;
    
}

.div-2{
    padding-right: 20px;
    flex-basis: 50%;
    
}

.div-2 img{
    width:100%;
    height: 100%;
}

.div-1 img{
    width:100%;
    height: 100%;
}

.div-2{
    padding-right: 20px;
    flex-basis: 50%;
    
}

.footer-nav ul li a{
    text-decoration: none;
    font-size: 12px;
   
  padding-left: 25px;

  
}

.fa-facebook {
    color: white;
    font-size: 20px;
    padding-left: 20px;
}


.fa-hashtag {
   
    font-size: 20px;
  
}
.fa-github{
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.fa-twitter {
    color: white;
    font-size: 20px;
    padding-left: 20px;
}

.footer p{
    font-family: 'Poppins', sans-serif;
    color: rgb(78, 78, 78);
    padding-top: 90px;
    font-size: 12px;
    padding-top: 60px;
}

.footer{
   
    padding: 70px 0px ;
    
}

.kire p{

    padding: 20px 40px;
    background-color: #dbdbdb1a;
    margin-bottom: 0px;
    font-size: 14px;
   
}

.btnsss:hover{

    background-color: rgb(92, 95, 109);
}


.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 8%;
    position: relative;
}

.footer-nav ul li {
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding-left: 15px;
}

.footer-nav ul :first-child{
    padding-left: 0px;
}



}